/* Set up some boxes to hold text */

  .paragraph{
      margin-top: 20px;
      margin-left: 20px;
      width: 1000px;
      height: 400px
  }

  .title{
      margin-top: 50px;
      font-size: 20pt;
      font-variant: small-caps;
  }

  .img-thumbnail{
      height: 100px;
      width: 100px;
  }

.fill_box{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    background: whitesmoke;
    width: 1100px;
    height: 600px
}

.display_vis{
    margin-top: 10px;
    margin-left: 15px;
    height: 600px;
    width: 600px;
}

.comp_link{
    margin-top: 10px;
    margin-left: 50px;
    background: palegoldenrod;
    height: 60px;
    width: 100px;
}

.data_link{
    margin-top: 10px;
    margin-left: 55px;
    background: lightslategray;
    height: 60px;
    width: 100px;
}

#CSVTable{
    height: 500px;
    width: 800px;
}